/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
/* google fonts */

/* common part */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
}
/* common part */
/* header-area */
header {
  background-color: #2d25a0;
  color: white;
}
.header-area {
  display: flex;
  align-items: center;
}
.header-content {
  padding: 198px 0 249px 0;
}
.header-content h1 {
  font-weight: 700;
  font-size: 64px;
  text-transform: capitalize;
}
.header-banner {
  padding: 164px 0 75px 132px;
}
.header-banner img {
  width: 556.01px;
  height: 438px;
  transition: transform 0.5s ease-in-out;
}
.header-banner img:hover {
  transform: rotateY(90deg);
}
.button {
  background-color: #e02c6d;
  width: 168px;
  height: 44px;
  text-align: center;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}
.button a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: inline-block;
  padding: 10px 24px;
}
.button i {
  color: white;
  width: 16px;
  height: 14px;
}
.button:hover {
  background-color: transparent;
  color: white;
  border: 1px solid black;
}
/* header-area */
